{% extends 'base.html' %} {% block title %}Settings Page{% endblock %} {% block
body %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="row" style="padding-bottom: 20px; padding-top: 20px">
      <center>
        <h2>Settings</h2>
        <br /><br /><br />
        <p>Name</p>
        <p>Description</p>
        <p>Main Image</p>
        <p>Contact Email</p>
        <p>Accept Donations?</p>
        <p>Sell Merch / Items?</p>
        <p>Donation Description</p>
        <p>Add Donation Methods</p>
        <p>Add Social Media Links</p>
        <p>Allow Registrations / Logins?</p>
        <p>What are your 'posts' called?</p>
      </center>
    </div>
  </body>
</html>

{% endblock %}
